.row-fluid
  %ul.thumbnails
    - @clients.each do |client|
      %li.span8
        .thumbnail
          = image_tag( client.avatar.url, class: 'img-polaroid img-rounded') if client.try(:avatar).present?
          %table{class: 'table table-condensed'}
            %tr
              %td= client.name
            %tr
              %td= client.opening_hour
            %tr
              %td= client.address
            %tr
              %td= client.phone_num
            %tr
              %td= client.description

